<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of components" [routerLink]="['/', item.id]">
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.email}}
                </td>
                <td>
                    {{item.body}}
                </td>
            </tr>
        </tbody>
    </table>

    <form [formGroup]="componentsForm" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea rows="3" type="text" class="form-control" formControlName="body"
                placeholder="Enter body"></textarea>
        </div>
        <button [disabled]="componentsForm.invalid" class="btn btn-primary">
            Add Components
        </button>
    </form>
</div>