<ul class="list-group">
    <li *ngFor="let item of singleComponent" class="list-group-item">
        <p>
            {{item.name}}
        </p>
        <p>
            {{item.email}}
        </p>
        <p>
            {{item.body}}
        </p>
    </li>
</ul>