<div class="main-container">
  <header class="d-flex align-items-center justify-content-around">
    <h1 class="text-center">{{title}}</h1>
    <div [routerLink]="['/']" class="home">
      home
    </div>
  </header>
  <router-outlet></router-outlet>
</div>